node_modules/**/*

OLD
BAK

*.pyc

cmd

vendor/**/*

data/links
data/png
data/src
data/BAK

scrape/js
scrape/scrapy-test
scrape/Category-International\ border\ crossings\ -\ Wikipedia,\ the\ free\ encyclopedia.url
