html { width:100%;height:100% }
body {
	text-align:center; width:100%;height:100%;margin:0;padding:0;overflow:hidden;
}

#map {
	width: 800px; 
	height: 600px; 
	border: 1px solid #ccc;
}

select {
	cursor: pointer;
}
#progress {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999999;
    width: 100%;
    height: 10px;
    margin: 0;
    padding: 0;
    display:none;
}
#progress-bar {
    width: 0;
    height: 100%;
    background-color: #f88;
    background-color: rgba(255, 155, 155, 0.7);
}

#header {
	position:absolute;
	top:0px;
	right:0;
	padding-right:50px;
	z-index:999999;
	font-family:sans-serif;
	text-align:right;
	
	padding-left:8em;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, rgba(255,255,255,0), rgba(255,255,255,1)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, rgba(255,255,255,0), rgba(255,255,255,1)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1)); /* Standard syntax (must be last) */
}
#header h1 {
	font-size:2em;
	font-size:2.2vw;
}
#header #countries {
	padding:10px;
	margin:0;
	font-size:2rem;
	font-size:2.2vw;
}
#header .subtext, #header .subtext select {
	font-size:1em;
	font-size:1.2vw;
}

#nav {
	position:absolute;
	top:1em;
	right:1em;
	font-weight:bold;
	z-index:999999999;
	cursor:pointer;
}

@media (max-width: 768px) {
	#header {
		padding-right:2.5em;
	}
	#header h1 {
		font-size:1em;
	}
	#header #countries {
		font-size:1em;
	}
	#header .subtext, #header .subtext select {
		font-size:1rem;
	}
}

#loader {
	width:100%;
	height:500px;
	opacity:0.5;
	color:#808080;
	background-color:#FFFFFF;

	background-image:url(../images/loading.gif);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
}